@model List<ResultProductDto>

@{
    Layout = null;
}
<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_UILayoutHeadPartialComponent")

<body class="sub_page">

    <div class="hero_area">
        @await Component.InvokeAsync("_UILayoutNavbarPartialComponent")
    </div>
    <section class="food_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Menümüz
                </h2>
            </div>

            <ul class="filters_menu">
                <li class="active" data-filter="*">Tüm Ürünler</li>
                <li data-filter=".burger">Hamburger</li>
                <li data-filter=".pizza">Pizza</li>
                <li data-filter=".pasta">Makarna</li>
                <li data-filter=".fries">Aperatif</li>
                <li data-filter=".fries">Salata</li>
                <li data-filter=".fries">Tatlı</li>
                <li data-filter=".fries">İçecek</li>
            </ul>

            <div class="filters-content">
                <div class="row grid">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-6 col-lg-4 all pizza">
                            <div class="box">
                                <div>
                                    <div class="img-box">
                                        <img src="@item.ImageUrl" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <h5>
                                            @item.ProductName
                                        </h5>
                                        <p>
                                            @item.Description
                                        </p>
                                        <div class="options">

                                            @* TODO: Görseli kaldirdim eklersin. *@
                                            <a href="#" onclick="showProductId(@(item.ProductID))">
                                                <h6>
                                                    @item.Price₺
                                                </h6>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
    </section>

    @await Component.InvokeAsync("_UILayoutFooterPartialComponent")
    @await Component.InvokeAsync("_UILayoutScriptsPartialComponent")


    <script>
        function showProductId(productId) {
            $.ajax({
                type: "POST",
                url: `/Menu/AddBasket/${productId}`,
                success: function (data) {
                    swal("Seçilen Ürün ID:" + productId, "Seçtiğiniz Ürün Sepete Eklendi!", "success");
                },
                error: function (error) {
                    alert("Error adding to basket: " + error.responseText);
                }
            });
        }

    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</body>
</html>